:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --contact-color: rgba(255, 255, 255, 0.6);
}

body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

/* temporary decision */

/* .container {
  outline: 1px dashed red;
}

.ul-portfolio .item {
  outline: 1px solid red;
} */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* container */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* header */

.header {
  max-width: 1600px;
  margin: 0px auto;
}

.container.head {
  display: flex;
  align-items: center;
}

.logo.top {
  margin-right: 93px;
}

.logo {
  font-family: Raleway, sans-serif;
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-accent-head {
  color: var(--title-text-color);
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.nav-link.current {
  color: var(--accent-color);
}

.ul-nav {
  display: flex;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.ul-nav .item:not(:last-child) {
  margin-right: 50px;
}

.contact-head:not(:last-child) {
  margin-right: 50px;
  margin-left: auto;
}

.contact-head {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.icon-envelope {
  margin-right: 10px;
  vertical-align: middle;
  fill: #afb1b8;
}

.icon-smartphone {
  margin-right: 10px;
  vertical-align: middle;
  fill: #afb1b8;
}

.contact-head:hover,
.contact-head:focus {
  color: var(--accent-color);
}

.contact-head:hover > .icon-envelope,
.contact-head:focus > .icon-envelope {
  fill: var(--accent-color);
}

.contact-head:hover > .icon-smartphone,
.contact-head:focus > .icon-smartphone {
  fill: var(--accent-color);
}

/* main */

.section-title {
  padding: 200px 0px;
  margin: 0px auto;
  text-align: center;
  max-width: 1600px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/img-background.jpg);
  background-color: #c4c4c4;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title-h1 {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.btn {
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  color: var(--title-text-color);
}

.section-advantage {
  padding: 94px 0px;
  margin: 0px auto;
  max-width: 1600px;
}

.ul-advantage {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.ul-advantage .item::before {
  display: block;
  content: '';
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
}

.ul-advantage .item.antenna::before {
  background-image: url(../images/antenna.svg);
  background-size: 70px 70px;
}

.ul-advantage .item.clock::before {
  background-image: url(../images/clock.svg);
  background-size: 70px 70px;
}

.ul-advantage .item.diagram::before {
  background-image: url(../images/diagram.svg);
  background-size: 70px 70px;
}

.ul-advantage .item.astronaut::before {
  background-image: url(../images/astronaut.svg);
  background-size: 70px 70px;
}

.advantege-h3 {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantege {
  width: 270px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
}

.ul-advantage .item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.section-doing {
  padding-bottom: 94px;
  margin: 0px auto;
  max-width: 1600px;
}

.title-doing {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.ul-doing {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
}

.ul-doing .item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.section-team {
  padding: 94px 0px;
  margin: 0px auto;
  max-width: 1600px;
  background-color: #f5f4fa;
}

.title-team {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.ul-team {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
}

.ul-team > .item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.ul-team > .item {
  padding-bottom: 30px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--primary-white-color);
}

.h3-team {
  margin-top: 30px;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
}

.p-team {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.ul-social-networks {
  list-style-type: none;
  display: flex;
  padding: 0px;
  margin-top: 16px;
  margin-bottom: 0px;
  justify-content: center;
  align-content: center;
}

.ul-social-networks .item:not(:last-child) {
  margin-right: 10px;
}

.cocial-link {
  display: inline-block;
  width: 44px;
  height: 44px;
}

.social-icon {
  fill: #afb1b8;
  vertical-align: bottom;
}

.instagram:hover > .social-icon,
.instagram:focus > .social-icon {
  fill: #fff;
  background-color: var(--accent-color);
  border-radius: 50%;
}

.twitter:hover > .social-icon,
.twitter:focus > .social-icon {
  fill: #fff;
  background-color: var(--accent-color);
  border-radius: 50%;
}

.facebook:hover > .social-icon,
.facebook:focus > .social-icon {
  fill: #fff;
  background-color: var(--accent-color);
  border-radius: 50%;
}

.linkedin:hover > .social-icon,
.linkedin:focus > .social-icon {
  fill: #fff;
  background-color: var(--accent-color);
  border-radius: 50%;
}

.section-clients {
  padding: 94px 0px;
  margin: 0px auto;
  max-width: 1600px;
}

.h2-clients {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.ul-clients {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
}

.list-clients:not(:nth-child(6n)) {
  margin-right: 30px;
}

.link-clients {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}

.icon-logo {
  fill: #afb1b8;
}

.link-clients:hover,
.link-clients:focus {
  border-color: var(--accent-color);
}

.link-clients:hover > .icon-logo,
.link-clients:focus > .icon-logo {
  fill: var(--accent-color);
}

/* footer */

.footer {
  padding: 60px 0px;
  margin: 0px auto;
  max-width: 1600px;
  background-color: #2f303a;
}

.logo.bottom {
  display: inline-block;
  margin-bottom: 20px;
}

.logo-accent-footer {
  color: var(--primary-white-color);
}

.ul-contact {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.ul-contact .item:not(:last-child) {
  margin-bottom: 9px;
}

.address {
  color: var(--primary-white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.address:hover,
.address:focus {
  color: var(--accent-color);
}

.contact-footer {
  color: var(--contact-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.contact-footer:hover,
.contact-footer:focus {
  color: var(--accent-color);
}

.ul-social-networks.bottom {
  margin-top: 20px;
}

.footer-social-networks {
  margin-left: 70px;
}

.footer-social-networks .title {
  margin-top: 12px;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.footer .social-icon {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

/* main portfolio */

.section-portfolio {
  padding: 94px 0px;
  margin: 0px auto;
  max-width: 1600px;
}

.ul-filter {
  display: flex;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 50px;
  padding-left: 0;
  justify-content: center;
}

.ul-filter .item:not(:last-child) {
  margin-right: 8px;
}

.btn-filter {
  padding: 6px 22px;
  border-radius: 4px;
  border: 1px solid transparent;
  font-family: Roboto, sans-serif;
  background-color: #f5f4fa;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.btn-filter:focus,
.btn-filter:hover {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.ul-portfolio {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.ul-portfolio > .item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.ul-portfolio > .item {
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  width: 370px;
}

.figure {
  width: 100%;
}

.h2-portfolio {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.text-portfolio {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.link-portfolio {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.link-portfolio .item {
  padding: 20px 24px;
}

.link-portfolio:hover,
.link-portfolio:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
